/* Default Styles ----------------------------------------- */


html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../images/paper-texture.jpg');
  background-repeat: repeat;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a.emphasize {
  color: var(--link-visited);
  text-decoration: underline;
}

a.emphasize:hover {
  color: var(--link-visited);
  text-decoration: underline;
}


/* Utility ------------------------------------------------- */


.flex-grow {
  flex-grow: 1;
}


/* Navigation --------------------------------------------- */


.nav-links {
  display: flex;
  flex-direction: row;
  column-gap: 1.25rem;
  padding: 1.5rem;
}

.nav-link {
  text-decoration: none;
  height: 50px; /* Example height of your navbar */
  line-height: 50px; /* Set line-height equal to the height of the navbar */
  display: inline-block;
}

.nav-link:hover {
  color: var(--link-hover);
  text-decoration: underline;
} 


/* Logo --------------------------------------------------- */


.logo {
  display: block;
  margin: 20px auto;
  height: 70px;
  width: auto;
}


/* Automatic Swiper --------------------------------------- */


.swiper {
  width: 100%;
  text-align: center; /* Center aligns the text */
}

.swiper-slide {
  display: flex;
  flex-direction: column; /* Stack image and text vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically for fixed-height slides */
  height: 100%;
  text-align: center;
}

.swiper-slide img {
  max-width: 100%; /* Ensure image does not exceed the slide width */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Prevent image distortion */
  margin-bottom: 10px; /* Space between image and text */
  margin-top: 10px;
}

.swiper-slide img {
  min-height: 150px; /* Adjust based on your needs */
}

/* Text styling */
.swiper-slide p {
  text-align: center;
  margin-top: 0; /* Adjust or remove margin-top as necessary */
  position: absolute; /* Use absolute positioning for text */
  bottom: 20px; /* Adjust distance from bottom */
  width: 100%;
}

/* Add a relative positioning context to the slide */
.swiper-slide {
  position: relative;
  padding-bottom: 40px; /* Space for the text, adjust as needed */
}

.swiper-container-free-mode > .swiper-wrapper{
  transition-timing-function : linear;
}


/* Slideshow ------------------------------------------------ */


.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  width: 100%; 
  height: auto; 
  position: relative;
}

.slide img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

/* Hide the images by default */
.slide {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fade animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Footer ------------------------------------------------- */


.footer-links {
  display: flex;
  flex-direction: row;
  column-gap: 1.25rem;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.footer-link {
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Schedule */

.date-links {
  margin-bottom: 20px;
  margin-top: 20px;
}

.date-links a.active-date {
  text-decoration: underline;
}

.date-links a {
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: 600;
}

.date-links a:hover {
  text-decoration: underline;
}

.schedule-table {
  width: 100%;
  table-layout: fixed;
  display: none;
}

.schedule-table.active-table {
  display: table;
}

.schedule-table th,
.schedule-table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.schedule-table th {
  background-color: #f2f2f2;
}

.time-col {
  white-space: nowrap;
  width: auto;
}


/* Adaptive Layout ------------------------------------------ */


@media (max-width: 800px) {
  .nav-link {
    display: none;
  }
  .nav-link.emphasize {
    display:flex;
  }
  .nav-link.mobile {
    display:flex;
  }

  .nav {
    border-top: none;
  }

  .main-heading {
    margin-top: 1.5rem;
  }
  .footer-links {
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }

  .date {
    font-size: 1.25rem;
  }

  .abstract-title {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-subtitle {
    font-size: 1.25rem;
  }

  .footer-links {
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .date {
    font-size: 1rem;
  }

  .abstract-title {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.25rem;
  }

  .section-subtitle {
    font-size: 1rem;
  }

  .footer-links {
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
  }
}


/* Dark Mode --------------------------------------------- */


.only-dark-mode {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: none;
  }

  .only-light-mode {
    display: none;
  }

  .only-dark-mode {
    display: block;
  }

  .nav-link {
    color: var(--link-color);
  }
  
  .footer-link {
    color: var(--link-color);
  }
}
