
/* Body ------------------------------------------------ */

body {
  background-image: url('../images/paper-texture.jpg');
  background-repeat: repeat;
  background-color: #f8f8f8; 

}

.logo {
  display: block;
  margin: 20px auto;
  height: 70px;
  width: auto;
}

/* Grid ---------------------------------------------- */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-image {
  max-width: 100px;
  max-height: 100px;
}

/* Slideshow ------------------------------------------------ */

.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  width: 100%; 
  height: 500px; 
  position: relative;
}

.slide img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

/* Hide the images by default */
.slide {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fade animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Default Styles ----------------------------------------- */

html {
  scroll-behavior: smooth;
}

/* Utility ------------------------------------------------- */

.flex-grow {
  flex-grow: 1;
}

/* Footer ------------------------------------------------- */



.footer-links {
  display: flex;
  flex-direction: row;
  column-gap: 1.25rem;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.footer-link {
  text-decoration: none;
  color: #000000;
}

.footer-link:hover {
  text-decoration: underline;
}


/* Theme switcher --------------------------------------------- */


#dark-mode-toggle {
  /* Style your button */
  padding: 10px;
  margin: 5px 0;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#dark-mode-toggle:hover {
  background-color: #ddd;
}
/* Navigation --------------------------------------------- */


.nav-links {
  color: var(--link-text);
  display: flex;
  flex-direction: row;
  column-gap: 1.25rem;
  padding: 1.5rem;
}

.nav-link {
  text-decoration: none;
  height: 50px; /* Example height of your navbar */
  line-height: 50px; /* Set line-height equal to the height of the navbar */
  display: inline-block;
}

.nav-link-apply {
  height: 50px; /* Example height of your navbar */
  line-height: 50px; /* Set line-height equal to the height of the navbar */
  display: inline-block;
}

.nav-link:hover {
  text-decoration: underline;
  color: var(--link-hover);

}

.nav-link-cta {
  text-decoration: underline;
  font-weight: bold;
  color: #9A1E13;
}

/* Media Queries ------------------------------------------ */

@media (max-width: 800px) {
  .nav-links {
    display: none;
  }

  .nav {
    border-top: none;
  }

  .main-heading {
    margin-top: 1.5rem;
  }
  .footer-links {
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }

  .date {
    font-size: 1.25rem;
  }

  .abstract-title {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-subtitle {
    font-size: 1.25rem;
  }

  .nav-links {
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
  }

  .footer-links {
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .date {
    font-size: 1rem;
  }

  .abstract-title {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.25rem;
  }

  .section-subtitle {
    font-size: 1rem;
  }

  .nav-links {
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
  }

  .footer-links {
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
  }
}

